<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages | MyFoodRepo</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/reminders.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>

    <!-- HEADER -->
    {% with navbar_title="Messages" %}
        {% include 'utils/navbar.html' %}
    {% endwith %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- DASHBOARD SECTION -->
    <section class="page-section">
        <div class="page-section-text">
            <h2 class="main-title">Messages <span>Monitoring</span></h2>
            <div class="dashboard-container">
                <div class="horizontal-progress-grid">
                    {% if sanity_check_results %}
                        {% for check_type, issues in sanity_check_results.items() %}
                            <div class="progress-item-horizontal">
                                <h1>{{ check_type.replace('_', ' ').title() }}</h1>
                                <div class="status-indicator">
                                    <div class="status-dot {{ 'error' if issues else 'success' }}"></div>
                                    <span class="status-text">{{ "Issues Found" if issues else "All Clear" }}</span>
                                </div>
                                {% if issues %}
                                    <div class="alert">
                                        <div class="content-scrollable">
                                            <ul>
                                                {% for id, detail in issues.items() %}
                                                    <li>
                                                        <i class="fas fa-exclamation-circle"></i>
                                                        <div>
                                                            <strong>{{ "Message ID" if check_type != "duplicate_twilio_ids" else "Twilio ID" }}: {{ id }}</strong> →
                                                            {% if check_type == "duplicate_twilio_ids" %}
                                                                <span class="reminder-list-items">Message IDs: {{ detail | join(", ") }}</span>
                                                            {% else %}
                                                                <span class="reminder-list-items">User ID: {{ detail }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="success-message">
                                        <span class="success-icon">✅</span>
                                        No {{ check_type.replace('_', ' ').lower() }} found.
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="progress-item-horizontal">
                            <h1><i class="fas fa-route"></i> Misrouted Messages</h1>
                            <div class="success-message">
                                <span class="success-icon">✅</span>
                                No messages misrouted.
                            </div>
                        </div>
                        <div class="progress-item-horizontal">
                            <h1><i class="fas fa-comment-slash"></i> Messages with missing fields</h1>
                            <div class="success-message">
                                <span class="success-icon">✅</span>
                                No messages with missing fields detected.
                            </div>
                        </div>
                        <div class="progress-item-horizontal">
                            <h1><i class="fas fa-robot"></i> Misrouted System Messages</h1>
                            <div class="success-message">
                                <span class="success-icon">✅</span>
                                No System messages wrongfully sent to the users.
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>    
    </section>

    <section class="quick-actions-section">
        <h2 class="main-title">Quick <span>Actions</span></h2>
        
        <div class="actions-container">
            <div class="action-item">
                <form action="{{ url_for('messages.manage_messages') }}" method="get">
                    <button type="submit" class="action-btn">
                        <i class="fas fa-hand-pointer"></i>
                    </button>
                </form>
                <div class="action-description">
                    <h3>Manage messages</h3>
                    <p>Overview and monitor messages exchanged with participants.</p>
                </div>
            </div>
            <div class="action-item">
                <form action="{{ url_for('messages.download_messages_csv') }}" method="get">
                    <button class="action-btn" type="submit">
                        <i class="fas fa-database"></i>
                    </button>
                </form>
                <div class="action-description">
                    <h3>Backup messages</h3>
                    <p>Create a secure backup of all messages sent & received so far.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- METRICS SECTION -->
     <details class="page-section">
        <summary class="main-title collapsible-summary"> Messages <span> Metrics</span></summary>
            <section class="page-section">
                <div class="page-section-container">
                    <div class="left-column">
                    <h2 class="sub-title">Study Group <span>Overview</span></h2>
                    <div class="reminders-grid">
                        <div class="reminder-card" data-group="0">
                            <div class="card-header">
                                <div class="card-icons" data-group="0">
                                    <i class="fas fa-bell-slash"></i>
                                    <i class="fas fa-comment-slash"></i>
                                </div>
                                <h3>Group 0</h3>
                            </div>
                            <div class="card-number">{{ messages_per_group[0] | length }}</div>
                            <div class="card-description">No reminders, No messages</div>
                        </div>
                    
                        <div class="reminder-card" data-group="1">
                            <div class="card-header">
                                <div class="card-icons" data-group="1">
                                    <i class="fas fa-bell"></i>
                                    <i class="fas fa-comment-slash"></i>
                                </div>
                                <h3>Group 1</h3>
                            </div>
                            <div class="card-number">{{ messages_per_group[1] | length }}</div>
                            <div class="card-description">Reminders only</div>
                        </div>
                    
                        <div class="reminder-card" data-group="2">
                            <div class="card-header">
                                <div class="card-icons" data-group="2">
                                    <i class="fas fa-bell-slash"></i>
                                    <i class="fas fa-comment-dots"></i>
                                </div>
                                <h3>Group 2</h3>
                            </div>
                            <div class="card-number">{{ messages_per_group[2] | length }}</div>
                            <div class="card-description">Messages only</div>
                        </div>
                    
                <div class="reminder-card" data-group="3">
                    <div class="card-header">
                        <div class="card-icons" data-group="3">
                            <i class="fas fa-bell"></i>
                            <i class="fas fa-comment-dots"></i>
                        </div>
                        <h3>Group 3</h3>
                    </div>
                    <div class="card-number">{{ messages_per_group[3] | length }}</div>
                    <div class="card-description">Reminders & Messages</div>
                </div>
                </div>
                 </div>

                    <div class="right-column">
                        <h2 class="sub-title">Detailed <span>Evolution</span></h2>
                        <div class="chart-container">
                            <canvas id="studyGroupMessagesChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <!-- USER ANALYSIS SECTION -->
            <section class="page-section">
                <h2 class="sub-title">Messages Related <span>Analysis</span></h2>
            
                <div class="charts-grid">
                    <div class="chart-container">
                        <canvas id="messageChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="userMessagesChart"></canvas>
                    </div>
                </div>
            </section>
    </details>

    
        
    <!-- CHARTS SCRIPTS -->
        <script src="{{ url_for('static', filename='js/general/tables.js') }}"></script>
        <script src="{{ url_for('static', filename='js/general/general.js') }}"></script>
        <script src="{{ url_for('static', filename='js/messages/messageChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/messages/studyGroupMessagesChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/messages/userMessageChart.js') }}"></script>

</body>
</html>