<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work In Progress</title>

    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/wip.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>

    {% with navbar_title="WIP" %}
        {% include 'utils/navbar.html' %}
    {% endwith %}

    <!-- WIP Section -->
    <section class="wip-card">
        <h2>Work In Progress</h2>
        <p>I'm currently working on something AWESOME :) Check back soon!</p>
        <i class="fas fa-cogs wip-icon"></i>
    </section>

</body>


    <script src="{{ url_for('static', filename='js/general/general.js') }}"></script>

</html>
